.invoice-box {
    max-width: 800px;
    min-height: 700px;
    overflow-y: auto;
    margin: auto;
    padding: 40px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #555;
}

.TablaPopular {
    max-width: 100%;
    overflow-y: auto
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}


    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/
.rtl {
    direction: rtl;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

    .rtl table {
        text-align: right;
    }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }



/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Dropdownlist Style*/
.DropdownASP {
    border: 2px solid #5192a4;
    border-radius: 10px;
    padding: 3px;
    -webkit-appearance: none;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
}

/*Estilo general para todos los textboxes*/
.TextBox {
    cursor: url(../Media/MiddleFinger.cur), pointer;
    border: 2px solid #5192a4;
    border-radius: 10px;
    color: black; /*TextColor*/
    background-color: #efefef;
    
    width:auto;
}
/*Estilo general para todos los Botones*/
.ButtonASP {
    border: 2px solid #5192a4;
    border-radius: 10px;
    padding: 3px;
    -webkit-appearance: none;
    text-indent: 0.01px; /*In Firefox*/
    text-overflow: ''; /*In Firefox*/
    
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*Dropdownlist Style HOVER*/
.DropdownASP {
    cursor: url(../Media/MiddleFinger.cur), pointer;
    border: 2px solid #5192a4;
    border-radius: 10px;
    padding: 3px;
    background-color: #aeaeaf;
    
}

/*Estilo general para todos los textboxes HOVER*/
.TextBox:hover {
    cursor: url(../Media/MiddleFinger.cur), pointer;
    border: 2px solid #5192a4;
    border-radius: 10px;
    color: black; /*TextColor*/
    
}
/*Estilo general para todos los Botones HOVER*/
.ButtonASP:hover {
    cursor: url(../Media/MiddleFinger.cur), pointer;
    border: 2px solid #5192a4;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
    background-color: #aeaeaf;
    
}

/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/

/*GRID VIEW*/
#Gridview1 {
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

/*BOTONES PURO FONDO*/

.PDF { /* Green */
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: url(../Media/MiddleFinger.cur), pointer;
}

    .PDF:hover { /* Green */
        background-color: #2d6930;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: url(../Media/MiddleFinger.cur), pointer;
    }

.emitir { /*Azul*/
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: url(../Media/MiddleFinger.cur), pointer;
}
    .emitir:hover { /*Azul*/
        background-color: #00465d;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: url(../Media/MiddleFinger.cur), pointer;
    }
